


/* **** header **** */

header {
    height: 80px;
}

/* **** jumbo **** */

.jumbo .container {
    max-width: 500px;
}

/* **** main **** */

main .main_top .container {
    max-width: 200px;
}

/* **** footer **** */




/* debug */

.debug header {
    background-color: red;
}

.debug header .container {
    height: 100%;
    background-color: darkorchid;
}

.debug header .header_left {
    width: 30%;
    background-color: blue;
}

.debug header .header_right {
    width: 10%;
    background-color: green;
}

.debug .jumbo {
    height: 400px;
    background-color: aqua;
}

.debug .jumbo .container {
    height: 100%;
    background-color: burlywood;
}

.debug main {
    background-color: coral;
}

.debug .main_top {
    height: 100px;
    background-color: darkgrey;
}

.debug .main_top > .container {
    height: 100%;
    border: 1px solid black;
}


.debug .main_content {
    background-color: darkmagenta;
}

.debug .main_content .col {
    height: 200px;
    background-color: yellow;
    border: 1px solid black;
}

.debug .about {
    background-color: deeppink;
}

.debug .contact_me {
    background-color: deepskyblue;
}

.debug .footer_top {
    height: 400px;
    background-color: darkslateblue;
}

.debug .footer_bottom {
    height: 100px;
    background-color: slategray;
}

.debug footer .container {
    height: 100%;
    border: 1px solid black;
}

